<!DOCTYPE html>
<html lang="en">
 <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Oops!</title>
	<!--Bootstrap-->
	<script language="javascript" src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
 </head>
 <body>
	<div class="align-items-center container">
		<div class="wrapper">
			<div class="logo"><img src="https://www.freepnglogos.com/uploads/search-png/search-apps-icon-flatwoken-iconset-alecive-32.png" width="200" alt=""> </div>
			<h2>Error! Please try again!r</h2>
            <p><strong><%=message%></strong></p>
        </div>	
    </div>	
 </body>
</html>
 